

.Punkt {
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #0c0b0b;
  border-radius: 50%;
  opacity: 0.8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.3);
  transition: transform 0.3s ease;
  position: sticky;
  
}

.Punkt:hover {
  transform: scale(1.2);
}

/* New styles for highlighting */
.Punkt:hover::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: rgba(9, 8, 8, 0.5); /* Adjust opacity and color */
  border-radius: 50%;
  opacity: 1;
}
body {
  width: 100%;
  height: 100%;
  background-color: #9fb5cc;
}

.bruuh {
  background-color: #1f0640;
}

html,
body {
  height: 150%;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 82;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.kast {
  height: 100%;
  width: 100%;
  
}

.pealkirjad {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
}

.tekstiKast {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
  font-size: 18px;
  
}

.alapealkiri {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
  font-size: medium;
}

.pildikast {
  margin: 0 10px;
  width: 130px;
  height: 130px;
  
}



.logo-slider {
  position: relative;
  animation: slideRight 100s linear infinite;
  
}

.logo {
  border-radius: 8px;
  height: 75px;
  width: 75px;
  margin-right: 100px;
  overflow: hidden;
}

@keyframes slideRight {
  0% {
    right: 0%; /* Start from the right edge */
  }
  100% {
    right: -100%; /* Move to the left edge */
  }
}

.yooo{
  display: block;
}

.liklass{
  text-align: center;
}

.proov {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 3s, opacity 3s;
}

.proov.loaded {
  opacity: 1;
  transform: translate(0px);
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: sticky;
  justify-content: space-evenly;
  margin: auto;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr; /* Change to two columns */
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr; /* Change to one column */
  }
}


.container1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  position: sticky;
  justify-content: space-evenly;
  margin: auto;
}

@media (max-width: 1150px) {
  .container1 {
    grid-template-columns: 1fr 1fr 1fr; /* Change to two columns */
  }
}

@media (max-width: 700px) {
  .container1 {
    grid-template-columns: 1fr; /* Change to one column */
  }
}

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: sticky;
  justify-content: space-evenly;
  margin: auto;
}


@media (max-width: 480px) {
  .container2 {
    grid-template-columns: 1fr; /* Change to one column */
  }
}