

.Punkt {
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #0c0b0b;
  border-radius: 50%;
  opacity: 0.8;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.3);
  transition: transform 0.3s ease;
}

.Punkt:hover {
  transform: scale(1.2);
}

/* New styles for highlighting */
.Punkt:hover::before {
  content: '';
  position: absolute;
  width: 110%;
  height: 110%;
  background-color: rgba(9, 8, 8, 0.5); /* Adjust opacity and color */
  border-radius: 50%;
  opacity: 1;
}
body {
  width: 100%;
  height: 100%;
  animation: pulse 200s infinite;
}

@keyframes pulse {
  0% {
    background-color: #43576c;
  }
  100% {
    background-color: #979fcf;
  }
}

html,
body {
  height: 150%;
}

.path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 82;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.kast {
  height: 100%;
  width: 100%;
  
}

.pealkirjad {
  margin-top: 50px;
  font-size: 22px;
  text-align: center;
}

.tekstiKast {
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
}

.alapealkiri {
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  white-space: pre-wrap;
}

.pildikast {
  margin: 0 10px;
  width: 100;
  height: 100;
}